*
    {background-color: #E5E5E5;

    /* height: auto; */
    /* width: auto; */
    /* margin: 1%; */
  box-sizing: border-box;    
}


.heading
{

    font-weight:bolder;
    padding: 0%;
    margin: 0%;
    margin-left: 1%;

}


.main

{

        display: grid;
        /* grid-template-columns:3fr  1fr; */
        /* grid-template-rows: 2fr 2fr 2fr ; */
        grid-template-columns: 1fr 1fr ;
        /* margin-top:-66%; */
        margin-top: 5px;
        padding:2% ;
    /* border: 2px solid black; */
    gap: 10%;
        
    /* height: 85vh;  */
    height: 600px;
    width: 100%;
}



.box

{
    background-color: brown;

    /* height: 150px; */
    /* width: auto; */
    
    /* border: 1px solid black; */


}

#box-1


{
/* height: px; */
height:65%  ;
width: 100%;
/* grid-column-start:1; */
/* grid-column-end:3; */
/* grid-row-start: 1; */
/* grid-row-end: 4; */
padding: 1%;
}

  #box-3,#box-4,#box-5,#box-6

{
    height: 100% ;
    width: 100%;
} 


#box-2

{
    padding: 1%; 
    height: 35%;
    width: 100%;
}


.left
{

    display: flex;
    flex-direction: column;
    gap: 2rem;
 }



.right
    {
     /* box-sizing: border-box;    */
    /* height: 65%; */
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   /* padding:1% ; */
}


.up

{
    box-sizing:border-box;
    height: 65%;
    width: 100%;
    display:  grid;
    column-gap: ;
    /* flexwrap: wrap; */
    /* justify-content: space-around; */
   align-content: space-between;
    grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
  /* border: 1px black solid; */
   gap: 1rem;
   /* margin: 1px; */
   /* padding: 1%; */
}

.down

{
   /* border: 1px black solid; */
    height: 35%;
    width:  100%
    /* padding: 1%; */


}

#box-7
   
 {

height: 100%;
width: 100%;
border: none;

 }
 img
 {
   /* height: 100px ; */
   /* width:100px ; */
 }

 .image
 
 {
   background-colorblue: ;

 }
