*
    {background-color: #E5E5E5;

    /* height: auto; */
    /* width: auto; */
    /* margin: 1%; */
    }


.heading
{

    font-weight:bolder;
    padding: 0%;
    margin: 0%;

}


.main

{

        display: grid;
        /* grid-template-columns:3fr  1fr; */
        /* grid-template-rows: 2fr 2fr 2fr ; */
        grid-template-columns: 1fr 1fr ;
        /* margin-top:-66%; */
        margin-top: 1%;
        padding:1px ;
    border: 2px solid black;
    gap: 2rem;
        
    /* height: 85vh;  */
    height: 600px;
    width: 100%;
}



.box

{
    background-color: brown;

    /* height: 150px; */
    /* width: auto; */
    
    border: 1px solid black;


}

#box-1


{
/* height: px; */
height:65%  ;
width: 100%;
/* grid-column-start:1; */
/* grid-column-end:3; */
/* grid-row-start: 1; */
/* grid-row-end: 4; */
}

  /* #box-3,#box-4,#box-5,#box-6 */

{
    height: auto ;
    width: auto;
} 


#box-2

{
    height: 35%;
    width: 100%;
}


.left
{

    display: flex;
    flex-direction: column;
    gap: 2rem;
 }



.right
    {
    /* height: 65%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}


.up

{
    
    height: 65%;
    width: 100%;
    display:  grid;
    /* flexwrap: wrap; */
    justify-content: space-around;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
  border: 1px black solid;
   /* gap: 2rem; */
   padding: 1%;
}

.down

{
   border: 1px black solid;
    height: 35%;
    width: 100%;
    


}

#box-7
   
 {

height: 100%;

 }
